html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

@media only screen and (max-width: 1600px) and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960) {
  html {
    font-size: 10px;
  }
}
